<%= form_for(appointment_time) do |f| %>
  <% if appointment_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment_time.errors.count, "error") %> prohibited this appointment_time from being saved:</h2>

      <ul>
      <% appointment_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
